/* Space Mono - Regular 400 et Bold 700 - Italic 400 */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Space+Mono:wght@400;700&display=swap');


@mixin set-font($famille, $famille2, $taille, $line, $case, $weight) {
    font-family: $famille, $famille2;
    font-size: $taille;
    line-height: $line;
    text-transform: $case;
    font-weight: $weight;
  }


a {
    color: $noir;
    text-decoration: none;
}

.menu-item {
    @include set-font("Space Mono", monospace, 16px, 24px, uppercase, 400);

        & > a:hover {
            font-weight: 700;
        }
}

.single-photo__title {
    @include set-font("Space Mono", monospace, 66px, 58px, uppercase, 400);
    font-style: italic;
}

.single-photo__more-title {
    @include set-font("Space Mono", monospace, 18px, 27px, uppercase, 400);
}

p {
    @include set-font("Poppins", sans-serif, 14px, 21px, none, 300);
}

.modale__formulaire p {
    @include set-font("Poppins", sans-serif, 12px, 18px, uppercase, 500);
}

.modale__formulaire .wpcf7-submit, .button {
    @include set-font("Space Mono", monospace, 12px, 18px, none, 400);

    &:hover {
        font-weight: 700;
    }
}

.single-photo__infos {
    @include set-font("Space Mono", monospace, 14px, 21px, uppercase, 400);
}