/*Déclaration des fonts du site*/
/* Space Mono - Regular 400*/
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*Space Mono - Regular 700*/
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*Space Mono - Italic 400*/
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*Space Mono - Italic 700*/
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*Poppins - Regular 300*/
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*Poppins - Regular 500*/
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@mixin set-font($famille, $famille2, $taille, $line, $case, $weight) {
    font-family: $famille, $famille2;
    font-size: $taille;
    line-height: $line;
    text-transform: $case;
    font-weight: $weight;
  }

a {
    color: $noir;
    text-decoration: none;
}

.menu-item {
    @include set-font("Space Mono", monospace, 16px, 24px, uppercase, 400);

        & > a:hover {
            font-weight: 700;
        }
}

.single-photo__title {
    @include set-font("Space Mono", monospace, 66px, 58px, uppercase, 400);
    font-style: italic;
}

.single-photo__more-title {
    @include set-font("Space Mono", monospace, 18px, 27px, uppercase, 400);
    letter-spacing: 1px;
}

p {
    @include set-font("Poppins", sans-serif, 14px, 21px, none, 300);
}

.modale__formulaire p, .select-selected {
    @include set-font("Poppins", sans-serif, 12px, 18px, uppercase, 500);
}

.select-items div {
    @include set-font("Poppins", sans-serif, 12px, 18px, none, 500);
}

.modale__formulaire .wpcf7-submit, .button {
    @include set-font("Space Mono", monospace, 12px, 18px, none, 400);

    &:hover {
        font-weight: 700;
    }
}

.lightbox__texte {
    @include set-font("Poppins", sans-serif, 14px, 21px, uppercase, 500);
}

.lightbox__prev p, .lightbox__next p {
    @include set-font("Space Mono", monospace, 12px, 18px, none, 400);
}

.single-photo__infos, .photo-block__overlay-categorie, .lightbox-categorie {
    @include set-font("Space Mono", monospace, 14px, 21px, uppercase, 400);
    letter-spacing: 1px;
}

.accueil__header-h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    @include set-font("Space Mono", monospace, 96px, 142px, uppercase, 700);
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 3px white;
    text-align: center;
}