.footer {
    border-top: 1px black solid;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
        display: flex;
        gap: 86px;
    }

    &__item--not-clickable {
        pointer-events: none;
    }
}