body {
    margin: 0px;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

li {
    list-style: none;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.close {
    display: none;
}

.open {
    display: block;
}

.espace {
    height: 1000px;
}