@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modale {
    width: 585px;
    height: 759px;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 104px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: white;

    &__img {
        margin-top: 13px;
        width: 885px;
        height: 106px;
        object-fit: cover;
    }

    &__formulaire {
        margin-top: 22px;
        width: 263px;

        form > p {
            margin-top: 24px;
        }

        input:not(.wpcf7-submit) {
            width: 231px;
            height: 37px;
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            margin-top: 4px;
            padding: 0px 15px;
        }

        textarea {
            width: 231px;
            height: 191px;
            border: 1px solid #B8BBC2;
            border-radius: 8px;
            margin-top: 4px;
            resize: none;
            padding: 10px 15px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #000000CC;
}

.overlay.open {
    animation: fadeIn 1.5s ease-in-out;
    opacity: 1;
}

.overlay.fadeout {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode : forwards;
}

/*À faire, gérer le message de validation d'envoi, il est hors champs
.wpcf7 form .wpcf7-response-output {
    margin-top: -2em;
    padding: 0em 0em;
}*/