.photo-block {
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    &> p {
        margin: 100px 0px 139px 0px;
    }

    &__container {
        width: 564px;
        height: 495px;
        margin-bottom: 18px;


        &:nth-child(2n) {
            margin-left: 20px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position:relative;
        bottom: 0px;
        top: -499px;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity:0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.6);

        &-texte {
            color: white;
            text-transform: uppercase;
            padding-bottom: 14px;
        }

        &-reference {
            padding-left: 20px;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }

        &-categorie {
            padding-right: 20px;
            position: absolute;
            right: 0%;
            bottom: 0%;
        }

        &-lien {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }

        &-fullscreen {
            position: absolute;
            top: 0%;
            right: 0%;
            padding-top: 20px;
            padding-right: 20px;
            cursor: pointer;
        }
    }
}

.photo-block__container:hover .photo-block__overlay {
    opacity: 1;
  }
