.single-photo {
    width: 1148px;
    margin: auto;

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__col1 {
        border-bottom: solid 1px black;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__title {
        width: 444px;
    }

    &__infos {
        margin-top: 20px;

        &:last-child {
            margin-bottom: 37px;
        }
    }

    &__col2 {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        width: 50%;
    }

    &__img {
        margin-top: 37px;
        height: 86vh;
        width: 100%;
        max-width: 554px;
        object-fit: cover;
    }

    &__cta {
        display: flex;
        border-bottom: solid 1px black;
    }

    &__form {
        height: 118px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    &__nav {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;

        .miniature {
            width: 82px;
            height: 72px; 
            object-fit: cover;
            margin-bottom: 8px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .previous-img {
            position: relative;
            left: 86px;
        }
    }
        
    &__fleches {
            max-height: 14.22px;
            width: 82px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    }

    .fleche {
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        width: 32px;
    }

    &__taille-fleche1 {
        width: 32px;
        overflow: hidden;
            
        .gauche {
            margin-left: 8px;
    
            &:hover {
                margin-left: 0px;
            }
        }
    }

    &__taille-fleche2 {
            width: 32px;
            overflow: hidden;

        .droite {
            margin-left: -8px;

            &:hover {
                margin-left: 0px;
            }
        }
    }

    &__more {
        margin-top: 77px;

        &-title {
            margin-bottom: 52px;
        }

        &-img {
            width: 564px;
            height: 495px;
            object-fit: cover;
        }

        &-lien:nth-child(2n) {
            margin-left: 16px;
        }

        &-button {
            display: block;
            margin: 53px auto 64px auto;
            padding: 15px 70px;
        }
    }
}